.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 10vw;
    background-color: #9f9f9f;
  }

  .image {
    width: 90%;
    height: 90%
  }